<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="default">

<head>
</head>

<body>
	<div layout:fragment="content" class="row page-create">
		<div class="row">
			<h2>
				Add New Course
				
			</h2>

			<form th:action="@{/course/save}" th:object="${course}">
				<table class="tbl-form">
					<tr>
						<td>Course</td>
						<td><input type="text" class="form-control" name="course" required/></td>
					</tr>
					<tr>
						<td>Room No</td>
						<td>
							<select  class="form-control" name="roomNo" >
								<option th:each="data : ${rooms}"  th:value="${data.roomNo}" th:text="${data.roomNo}" >
								</option>
							</select>

						</td>
					</tr>
					<tr>
						<td>Description</td>
						<td><textarea class="form-control" name="description" cols="60" rows="5"></textarea></td>
					</tr>

				</table>
				<button type="submit" class="btn btn-success btn-submit">Save</button>
			</form>
		</div>
	</div>
</body>

</html>


